extends templates/layout

block content
    div(ng-controller="MainCtrl" class="container" ng-cloak)
        if(user)
            input(ng-data value=user style="display:none;")
            div(class="authorized")
                div(class="tool_bar")
                    div(class="profile_info")
                        img(ng-src="{{user.photoUrl}}" alt="{{user.username}}" ng-show="user.photoUrl")
                        img(src="http://nove.today/images/no_avatar.jpg" alt="{user.username}" ng-show="!user.photoUrl")
                        h3 #{user.username+' (вход выполнен через '+user.provider+')'}
                    i(class="fa fa-sign-out" aria-hidden="true" ng-click="logout()"  title="Выход")
                div(class="message_in_wrap")
                    div(class="field_wrap")
                        textarea(class="message_field" ng-model="message")
                        div(class="options" ng-show="editMessage")
                            p( ng-bind="'*Редактирование записи \"'+(editMessage.text|cropString:100)+'\"'  " )
                            a(href="" ng-click="uncheckEdit()") Отменить
                        div(class="options" ng-show="commentsMessage")
                            p( ng-bind="'*Коментарий к записи \"'+(commentsMessage.text|cropString:100)+'\"'  " )
                            a(href="" ng-click="uncheckComment()") Отменить

                    md-button(class="md-raised md-primary" ng-click="send(message)" ng-disabled="!message")
                        span(ng-hide="messageSended") Отправить
                        i(class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show="messageSended")
        else
            div(class="not_authorized")
                div(class="tool_bar")
                    div(class="profile_info")
                        h3 Вы не авторизированы
                section(layout="row" layout-align="center center" id="button-block")
                    md-button(class="md-raised md-primary btn_enter" ng-click="getSignPage()") Войти

                p(class="warn") *Для добавления и коментирования сообщений выполните вход
        div(class="messages_block")
            section(class="messages_container" inf-scroll="loadData()")
                ul(class="message_list")
                    li( class="item_li" ng-repeat="message in messageList|orderBy:'createAt':false" ng-include="'dist/templates/message_tmp.html'")
                p( ng-show="messageList.length<1") Список сообщений пока пуст
            md-button(class="md-raised md-primary btn_show" ng-click="getAllMessages()" ng-disabled="messageList.length>=messageCount") Показать все
