extends templates/layout

block content
    div(ng-controller="MainCtrl" class="container" ng-cloak)
        div(class="not_authorized all_radius")
            div(class="tool_bar")
                div(class="profile_info")
                    h3 Выберите социальную сеть для авторизации
            section(layout="row" layout-align="center center" id="button-block" ng-controller='SignCtrl')
                md-button(class="groupX left facebook" ng-click="auth('facebook')") Facebook &nbsp
                    i(class="fa fa-facebook-official" aria-hidden="true")
                md-button(class="groupX middle google" ng-click="auth('google')") Google+ &nbsp
                    i(class="fa fa-google-plus-square" aria-hidden="true")
                md-button(class="groupX right vk" ng-click="auth('vk')") Vk.com &nbsp
                    i(class="fa fa-vk" aria-hidden="true")



