$primary-color : #3949AB
$facebook-color : #3b5998
$google-color : #FA5858
$vk-color : #507299

@mixin hover($color)
  background: darken($color,15%) !important
  color: #ffffff !important
  transition: 0.5s

span,i
  outline: none !important

div.container
  max-width: 900px
  display: flex
  flex-direction: column
  margin: auto
  background: whitesmoke
  padding: 5%
  text-align: center

#button-block
  margin: 5% 0

div.authorized, div.not_authorized
  border: 2px solid $primary-color
  border-radius: 14px 14px 0 0

div.not_authorized.all_radius
  border-radius: 14px !important

div.tool_bar
  border-radius: 10px 10px 0 0
  min-height: 50px
  width: 100%
  background: $primary-color
  color: #ffffff
  display: flex
  justify-content: space-between
  align-items: center
  div.profile_info
    display: flex
    align-items: center
  img
    border-radius: 2px
    margin: 5px 20px
    width: 30px
    height: 30px
  h3
    font-weight: normal
    font-size: 20px
    margin: 0 20px
    float: right
  i
    font-size: 40px
    cursor: pointer
    margin: 0 20px

div.message_in_wrap
  padding: 20px
  display: flex
  min-height: 180px
  align-items: flex-start
  align-content: space-around
  div.field_wrap
    text-align: start
    flex: 3
    div.options
      font-size: 12px
      display: flex
      a,p
        margin: 10px 5px

    textarea.message_field
      min-height: 100px
      width: 100%
  button
    flex: 1
    border-radius: 8px
    margin: 20px
    &:hover:not([disabled])
      @include hover($primary-color)

.btn_enter,.btn_show
  border-radius: 8px
  &:hover:not([disabled])
    @include hover($primary-color)

.btn_enter
  margin: 20px


.md-button
  i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
    font-size: 16px
  i.ng-hide-add-active
    display: none !important

ul.message_list
  list-style-type: none
  margin: 0
  div.item_mess
    display: flex
    background: lightblue
    border-radius: 10px
    width: 500px
    align-items: center
    padding: 10px
    margin: 10px 0
    span.img_cont
      flex: 2
      img
       width: 40px
       height: 40px
       margin: 10px
    span.icon_wrap
      flex: 1
      font-size: 50px
      cursor: pointer
    div.message
      flex: 8
      text-align: start
      h5
        font-weight: normal
        font-style: normal
        font-size: 20px
        margin: 10px
        text-align: justify
      div.info_block
        display: flex
        justify-content: space-between
        align-items: center
        div.info
          span
            margin: 10px 0 10px
            font-size: 10px
          a
            font-size: 13px
            color: $primary-color
            font-style: oblique
            text-decoration: none
        div.edit
          margin: 10px
          font-size: 20px
i
  cursor: pointer
  &:hover
    color: #0AAB2E

ul.message_list.comments
  margin-left: 30px
  div.item_mess
    background: #b3ffb3
.md-button.mes_edit
  font-size: 10px !important

div.messages_block
  border-left: 2px solid $primary-color
  border-bottom: 2px solid $primary-color
  border-right: 2px solid $primary-color
  border-radius: 0 0 14px 14px
  .md-button
    flex: 1
    border-radius: 8px
    margin-bottom: 20px
    &:hover:not([disabled])
      @include hover($primary-color)

section.messages_container
  border: 2px solid antiquewhite
  padding: 1%
  width: 90%
  height: 400px
  margin: 5%
  overflow: auto
  background: white
  p
    font-size: 15px
    font-style: italic
    color: grey
p.warn
  font-size: 18px
  font-style: italic

.groupX
  font-size: 16px
  margin: 10px 0
  padding: 3px 15px 3px 15px
  text-transform: none
  font-weight: 400
  min-width: 100px

.md-button.left
  border-radius: 10px 0 0 10px

.md-button.middle
  border-radius: 0
  border-left: 1px solid rgba(230, 230, 230, 0.96)
  border-right: 1px solid rgba(230, 230, 230, 0.96)

.md-button.right
  border-radius: 0 10px 10px 0

.md-button.facebook
  background: $facebook-color
  color: #ffffff
  &:hover
    @include hover($facebook-color)

.md-button.vk
  background: $vk-color
  color: #ffffff
  &:hover
    @include hover($vk-color)

.md-button.google
  background: $google-color
  color: #ffffff
  &:hover
    @include hover($google-color)



