<div class="item_mess">
<span class="icon_wrap" ng-click="showTree(message)">
    <i class="fa fa-caret-right" aria-hidden="true" ng-show="message.checked&&!message.nodes"></i>
    <i class="fa fa-caret-down" aria-hidden="true" ng-show="message.nodes" ></i>
</span>
    <span class="img_cont">
        <img ng-src="http://nove.today/images/no_avatar.jpg" alt="not avatar" ng-show="!message.author.photoUrl" >
        <img ng-src="{{message.author.photoUrl}}" alt="{{message.author.username}}" ng-show="message.author.photoUrl">
    </span>
    <div class="message">
        <h5>{{message.text}}</h5>
        <div class="info_block">
            <div class="info">
                <a href="{{message.author.profileUrl}}" target="_blank">{{message.author.username}}</a>
                <span>{{message.createdAt| date:'H.mm - d.MM.yyyy'}}</span>
            </div>
            <div class="edit">
                <i class="fa fa-commenting-o" aria-hidden="true" ng-click="checkComment(message)" ng-show="user" title="Добавить комментарий"></i>
                <i class="fa fa-pencil" aria-hidden="true" ng-show="message.author.provider==user.provider&&message.author.id==user.id" title="Редактроивать сообщение" ng-click="checkEdit(message)"></i>
            </div>
        </div>
    </div>
</div>
<ul class="message_list comments">
     <li ng-repeat="message in message.nodes" ng-include="'dist/templates/message_tmp.html'"></li>
 </ul>